.example-spacer {
    flex: 1 1 auto;
  }
button{
  display : flex;
  width: 10%;
  padding: 1%;
  min-width: 120px;
  border: 1px solid #00d48a;
  background-color: #00d48a;
  color: white;
  border-radius: 10px;
}